.about__button{
    text-decoration: none;
    color: var(--font);
    padding: 0.75rem 4rem;
    position: absolute;
    top: 80%;
    left: 50%;
    border-bottom: var(--contrast-border);
    background-color: var(--red);
    transform: translate(-50%, -50%);
    transition: opacity 500ms;
    transition: background-color 500ms;
}
.about__button:hover{
    background-color: #c9000d;
    border-bottom: 2px solid rgb(143, 0, 0);
    opacity: 0.9;
}
.about__button:active{
    top: 81%;
    opacity: 0.8;
}