.photos__secondary:nth-child(2){
    background: url('../../../../img/pages/galery/halloween.jpg') top / cover no-repeat;
}
.photos__secondary:nth-child(3){
    background: url('../../../../img/pages/galery/garage-sale.jpg') center / cover no-repeat;
}
.photos__secondary:nth-child(4){
    background: url('../../../../img/pages/galery/teachers-day.jpg') center / cover no-repeat;
}
.photos__secondary:nth-child(5){
    background: url('../../../../img/pages/galery/childrens-day.jpg') top / cover no-repeat;
}
.photos__secondary:nth-child(6){
    background: url('../../../../img/pages/galery/saint-patricks-day.jpg') center / cover no-repeat;
}