.input{
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-family: var(--font-default);
    font-size: 2rem;
    font-weight: 200;
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    height: 2rem;
    width: calc(100% - 1rem);
}