.loader{
    border: 0.2rem solid #ffffff37;
    border-top: 0.2rem solid white;
    border-radius: 50%;
    display: none;
    height: 0.7rem;
    width: 0.7rem;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}